.clear{
    clear: both;
}

/** Estilos do header **/ 
header{
    background-color: #5385c1;
    height: 10vh;
}

nav.desktop{
    width: 100%;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
}

nav.mobile{
    display: none;
}

nav h1{
    color: white;
    font-size: 2.2rem;
    font-weight: 500;
}

nav ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

nav ul li{
    padding: .5rem 0.95rem;
}

nav ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.7rem;
    font-weight: 300;
    transition: 0.3s;
}

nav ul li a:hover{
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 1);
}
/*****/

.description-title{
    padding: 1.5rem 0 5rem;
    text-align: center;
}

.description-title h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 3.8rem;
    color: #5385c1;
    padding-bottom: 2rem;
}

.description-title p{
    font-size: 1.8rem;
    color: #BBBBBB;
}

/** Estilos do form **/
form{
    width: 100%;
    max-width: 1200px;
    margin:  0 auto 5rem;
    padding: 2rem 4rem;
    border: 1px solid black;
}

.form-wraper{
    float: left;
    padding:  0 2rem;
    margin-top: 3rem;
}

.w50{
    width: 50%;
}

.w100{
    width: 100%;
}

form input[type=text],
select{
    background-color: rgba(235, 235, 235, 0.61);
    padding: 1.2rem;
    border: 1px solid #BBBBBB;
    width: 100%;
}

form input[type=text]::placeholder,
select{
    color:  #666666b9;
    font-size: 1.7rem;
    cursor: pointer;
}

.radio{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

input[type=radio]{
   width: 2.4rem;
   height: 2.4rem;
   background-color: rgb(41, 26, 8);
   color: black;
}

input[type=radio],
.radio label{
    cursor: pointer;
    width: 2.4rem;
    height: 2.4rem;
}

.radio-box{
    color:  #666666b9;
    font-weight: 100;
    font-size: 2.5rem;
}

.checkbox{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

input[type=checkbox]{
    width: 1.5rem;
    height: 1.5rem;
}

.check-box{
    color:  #666666b9;
    font-size: 1.7rem;
}

textarea{
    background-color: rgba(235, 235, 235, 0.61);
    resize: vertical;
    width: 100%;
    display: block;
}

.textarea-box{
    width: 100%;
    display: block;
}

textarea::placeholder{
    padding-top: 2rem;
    padding-left: 1.5rem;
    font-size: 1.8rem;
}

input[type=submit]{
    width: 15rem;
    height: 5rem;
    margin-right: 2.5rem;
    border: 3px solid #8a8484;
    background-color: rgba(39, 35, 35, 0.815);
    font-size: 1.5rem;
    transition: .5s;
}

input[type=submit]:hover{
    background-color:white;
    color:  rgba(39, 35, 35, 0.815);
}

input[type=reset]{
    width: 7.5rem;
    height: 5rem;
    border: 3px solid #8a8484;
    background-color: white;
    color:  rgba(39, 35, 35, 0.815);
    font-size: 1.5rem;
    transition: .5s;
}

input[type=reset]:hover{
    background-color: rgba(39, 35, 35, 0.815);
    color: white;
}
/*****/

/** Estilos do media **/

    /* 1100px */
    @media screen and (max-width: 1100px){
         .description-box{
            display: block;
        }
        .description-content{
            margin-bottom: 3rem;
        }

        .description-content:last-of-type{
            margin-left: 0;
        }

        .description-content img{
            width: 100%;
            height: auto;
            margin-bottom: 2rem;
        } 
    }
/***/

    /* 850px */
    @media screen and (max-width: 850px){
        .buttons{
            width: 100%;
        }

        input[type=submit]{
            display: block;
            width: 100%;
            margin-bottom: 2rem;
        }

        input[type=reset]{
            display: block;
            width: 100%;
        }
    }
/***/

/*  720px */
    @media screen and (max-width: 720px){
        .btn1{
            height: 5rem;
            width: 100%;
            font-size: 2rem;
        }

        header > .container{
            width: 100%;
            padding: 0 2%;
        }

        nav.desktop{
            display: none;
        }

        nav.mobile{
            display: block;
            position: relative;
            width: 100%;
        }

        nav .mobile-text h1{
            display: inline-block;
            padding-top: 1.5rem;
            top: 0;
            left: 0;
        }


        nav i{
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            color: white;
            font-size: 2rem;
            padding-top: 1.5rem;
        }
        
        nav ul{
            display: none;
            justify-content: none;
            position: initial;
            width: 88vw;
            text-align: center;
            background-color: white;
        }
        
        nav ul li{
            padding: 1.5rem;
            border-bottom: 1px solid #9A9A9A;
        }

        nav ul li:last-child{
            border-bottom: none;
        }
        
        nav ul li a{
            font-size: 2rem;
            color: #5385c1;
        }

        nav ul li a:hover{
            font-size: 2.5rem;
            font-weight: 500;
            color: #144a8b;
        }
       
        .form-wraper{
            float: none;  
        }
        
        .w50{
            width: 100%;
        }
        
        .radio{
            width: 100%;
            display: block;
        }
        
        .radio-box{
            margin-bottom: 2rem;
        }
        
        .checkbox{
            display: block;
        }
        
        .check-box{
            margin-bottom: 1.5rem;
        }

        footer{
            position: relative;
            text-align: center;
        }
        
        footer > .container{
            display: block;
        }
        
        footer ul{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        footer ul li{
            padding: 0 .7rem;
        }
        
        footer ul li a{
            font-size: 1.5rem;
            color: #5385c1;
            transition: .3s;
        }
        
        footer ul li a:hover{
            font-size: 2rem;
            color: #0f3c74;
        }
    }
/***/

/*****/