:root{
    font-size: 60%;
    font-family: 'Nunito', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100vh;
}

.container{
    max-width: 1380px;
    width: 95%;
    margin: 0 auto;
    padding: 0 2%;
}

/** Estilo para o botão **/
.btn1{
    border-radius: .5rem;
    border: none;
    background-color: #5385c1;
    height: 3.5rem;
    width: 6rem;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}

.btn1:hover{
    background-color: rgb(117, 164, 221);
}
/*****/

/** Estilos do footer **/
footer{
    height: 5rem;
}

footer > .container{
    border-top: 1px solid #9A9A9A;
    display: flex;
    justify-content: space-between;
    padding: 5rem 0 1rem;
}

footer p{
    font-size: 1.2rem;
    color: #9A9A9A;
}

footer a{
    text-decoration: none;
    color: #9A9A9A;
}

footer ul{
    display: flex;
    list-style-type: none;
}

footer ul li{
    padding: 0 .7rem;
}

footer ul li a{
    font-size: 1.5rem;
    color: #5385c1;
    transition: .3s;
}

footer ul li a:hover{
    font-size: 2rem;
    color: #0f3c74;
}
/*****/